{% extends 'base.html' %} {% load static %}
{% block aboutactive %}selected{% endblock aboutactive %}
<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
	{% block content %}
	<div id="body">
		<div class="content">
			<img src="{% static 'images/professionals2.jpg' %}" alt="">
			<p>
				We introduce solutions, technology, and services to business customers. We spend time on the sales
				floor,
				meeting first-time and current business customers and learning their needs. We generate new leads and
				build
				relationships, connecting over the phone or through in-store workshops and events. We discover customer
				needs through briefings and work with the Business Team to prepare and present proposals. For customers
				with
				more complex needs, We work with the entire Business Team to craft the ideal solutions.
			</p>

		</div>
	</div>
	{% endblock content %}
</body>

</html>